In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

%matplotlib notebook

In [2]:
df=pd.read_csv('dfile.csv')
df.head()

,Unnamed: 0,average_voltage,capacity_grav,capacity_vol,energy_grav,energy_vol,max_frac,max_voltage,min_frac,min_instability,min_voltage,nsteps,numsites
0,0,2.325185,50.228609,269.262771,116.790816,626.085802,0.083333,2.325185,0.0,0.000000,2.325185,1,11
1,1,3.291748,39.674483,154.215698,130.598387,507.639167,0.052632,3.291748,0.0,0.000097,3.291748,1,18
2,2,3.609671,181.943205,651.708695,656.755144,2352.454095,0.183673,5.062579,0.0,0.025051,2.660169,3,40
3,3,3.201169,73.484217,329.726946,235.235410,1055.511733,0.090909,3.201169,0.0,0.049028,3.201169,1,10
4,4,2.438309,73.484217,306.081406,179.177232,746.321063,0.090909,2.438309,0.0,0.000000,2.438309,1,10

In [3]:
df=pd.read_csv('dfile.csv')
df=df.drop(['Unnamed: 0','max_voltage','min_voltage','min_frac','nsteps','min_instability','energy_grav','energy_vol'],axis=1)
df.head()

   average_voltage  capacity_grav  capacity_vol  max_frac  numsites
0         2.325185      50.228609    269.262771  0.083333        11
1         3.291748      39.674483    154.215698  0.052632        18
2         3.609671     181.943205    651.708695  0.183673        40
3         3.201169      73.484217    329.726946  0.090909        10
4         2.438309      73.484217    306.081406  0.090909        10

In [4]:
X=df.iloc[:,1:]
y=df.iloc[:,0]


print(y.head())

0    2.325185
1    3.291748
2    3.609671
3    3.201169
4    2.438309
Name: average_voltage, dtype: float64

In [5]:
from sklearn.model_selection import train_test_split 

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [6]:
X_train.shape,X_test.shape

((3497, 4), (875, 4))

In [13]:
type(X_test)

pandas.core.frame.DataFrame

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

RFR=RandomForestRegressor()
RFR.fit(X_train, y_train)

# Predict the model
pred = RFR.predict(X_test)

# RMSE Computation
r2 = r2_score(y_test, pred)
print("r2_score: % f"%(r2))
print(str(RFR))

r2_score:  0.508553
RandomForestRegressor()

In [9]:
from joblib import dump, load
dump(RFR, 'RFRegressor.joblib')

['RFRegressor.joblib']

In [10]:
rfr = load('RFRegressor.joblib')

In [15]:
rfr.predict(np.array([50.228609,	269.262771,	0.083333,	11]).reshape(1,4))

/home/joy/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([2.63147954])